<h1>  different companies cost summary</h1>

<% @all_stocks.each do |t|%>
  <p>
    <%= link_to t.companyname, stock_path(t.id)%>
	</p>
  
	 <p>
		<strong>Amount Invested:</strong>
		<%= Stock.total_purchased_amount(t.id) %>
		
	</p>

	<p>
		<strong>Amount Redeemed:</strong>
		<%= Stock.total_sold_amount(t.id) %>
	</p>

<% end %>

