<h1>Total Stocks Summary</h1>

  <p>
		<strong>Total Stocks Purchased:</strong>
		<%= @total_purchased_stocks %>
	</p>

	<p>
		<strong>Total Stocks Sold:</strong>
		<%= @total_sold_stocks  %>
	</p>