<h1>User total amount Summary</h1>

  <p>
		<strong>Total amount invested:</strong>
		<%= @total_invested_amount %>
	</p>

	<p>
		<strong>Total amount redeemed:</strong>
		<%= @total_redeemed_amount  %>
	</p>