<h1>Transaction</h1>

<p>
	<strong>no_of_stocks:</strong>
	<%= @transaction.no_of_stocks %>
</p>

<p>
	<strong>status:</strong>
	<%= @transaction.status %>
</p>



<%= link_to 'back',stock_transactions_path([@stock])%>

