<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Stocks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
		  <% if logged_in? %>
				<li class="nav-item">
					<%= link_to "Log Out", logout_path, 'data-turbo-method': :delete, class: 'nav-link' %>
      	</li>

				<li class="nav-item">
					<span><%= current_user.username%></span>
      	</li>
			<% else %>
				<li class="nav-item">
        	<%= link_to 'Register', sign_up_path, class: 'nav-link'%>
      	</li>

				<li class="nav-item">
				<%= link_to 'Login', login_path, class: 'nav-link'%>
      </li>
			<% end %>
    </ul>
  </div>
</nav>
